    body {
        margin: 0;
        font-family: Arial, sans-serif;
        background-color: #0e2426; /* verde agua oscuro */
        color: #e9ffff; /* blanco azulado */
    }

    header {
        background-color: #20bfa9; /* verde agua claro */
        color: #00332e; 
        text-align: center;
        padding: 25px;
        font-size: 28px;
        font-weight: bold;
    }

    nav {
        background-color: #155d63; 
        padding: 10px;
        text-align: center;
    }

    nav a {
        color: #c8fffa;
        text-decoration: none;
        margin: 0 15px;
        font-size: 18px;
    }

    nav a:hover {
        color: #20bfa9;
    }

    .container {
        background-color: #12393c; 
        margin: 25px auto;
        padding: 20px;
        width: 85%;
        border-radius: 10px;
        box-shadow: 0 0 10px #0e2426;
    }

    h2 {
        color: #20bfa9;
    }

    a {
        color: #8afff3;
    }

    a:hover {
        color: #20bfa9;
    }

    .photo {
        width: 170px;
        height: 170px;
        border-radius: 50%;
        display: block;
        margin-bottom: 15px;
        border: 3px solid #20bfa9;
    }
